{% extends 'rockclimb/base.html' %}
{% block content %}
{% load staticfiles %}

<div class="container-fluid">
</br>
<div class="panel panel-default">
    <div class="panel-heading">
      Register
    </div>
    <div class="panel-body">
        {% if form.errors %}
        <div class="alert alert-danger"> {{ form.errors }} </div>
        {% endif %}

        <form class="form" method="POST" action="">
        		{% csrf_token %}
        		{{ form.as_p }}
            <button class="btn btn-primary" type="submit">Sign Up</button>
        </form>
    </div>
</div>
</div>
{% endblock %}