{% extends 'rockclimb/base.html' %}
{% block content %}
{% load staticfiles %}

{% if climb %}
	<div class="row ">
	{% for climb in climb %}
		<div class = "col-xs-12 col-sm-4 ">
			<div class="thumbnail" id="box-shadow">

				<a href={% url 'climb' climb=climb.pk %} data-lightbox="climbImages" data-title="{{climb.name}}" class="thumbnail" id="thumbnail">
				<img id="climbImages" src="/media/{{ climb.image }}" alt="{{climb.name}}">
				<br>
				</a>
				<div class="text-center" id="image-text">
					<h3>{{ climb.name }}</h3> 
					<i>5.{{ climb.difficulty }}{{climb.grade}}</i><br>
				</div>
			</div>
		</div>

		<!-- if last column in row -->
	    {% if forloop.counter|divisibleby:"3" and not forloop.last %}
	        </div><div class="row">
	    {% endif %}
	{% endfor %}
	</div>
{% else %}
	<p> No climbs </p>
{% endif %}


{% endblock %}