{% extends 'rockclimb/base.html' %}
{% block content %}
{% load staticfiles %}

{% if climb %}
	<div class="row ">
	{% for climb in climb %}
		<div class = "col-xs-12 col-sm-4 ">
			<div class="thumbnail" id="box-shadow">
                                            {% if climb.image %}
                                                <a href={% url 'climb' climb=climb.pk %} data-lightbox="climbImages" data-title="{{climb.name}}" class="thumbnail text-center" id="thumbnail">
    				    <img id="climbImages" src="{{ climb.image.url }}" alt="{{climb.name}}">
                                                <br>
                                                <h3>{{ climb.name }}</h3> 
                                                <p>5.{{ climb.difficulty }}{{climb.grade}}</p><br>
                                            {% else %}   
                                            <a href={% url 'climb' climb=climb.pk %} data-lightbox="climbImages" data-title="{{climb.name}}" class="text-center">
                                                <h3>{{ climb.name }}</h3> 
                                                <p>5.{{ climb.difficulty }}{{climb.grade}}</p><br>
                                            {% endif %}
                                            </a>
			</div>
		</div>

		<!-- if last column in row -->
	    {% if forloop.counter|divisibleby:"3" and not forloop.last %}
	        </div><div class="row">
	    {% endif %}
	{% endfor %}
	</div>
{% else %}
	<p> No climbs </p>
{% endif %}


{% endblock %}